@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid crimson; */
}

:root {
  --fnt-ff-heading: 'Manrope', sans-serif;
  --fnt-wgt-200: 200;
  --fnt-wgt-700: 700;

  --clr-dark-gray-blue: hsl(217, 19%, 35%);
  --clr-dark-blue: hsl(214, 17%, 51%);
  --clr-gray-blue: hsl(212, 23%, 69%);
  --clr-light-gray-blue: hsl(210, 46%, 95%);

  --width-mobile: 375px;
  --width-desktop: 1440px;

  --spacer: 1rem;
}

body {
  font-family: var(--fnt-ff-heading);
  font-size: 0.8125rem;
  min-height: 100vh;
  background-color: var(--clr-light-gray-blue);
}

h1,
h2,
h3,
h4,
h5.h6 {
  padding-top: var(--spacer);
  color: hsl(217, 19%, 35%);
  line-height: 150%;
}

p {
  color: var(--clr-dark-blue);
  line-height: 154%;
  font-size: 0.8125rem;
  font-weight: var(--fnt-wgt-200);
}

article {
  background-color: #fff;
  background-image: url('./images/drawers.jpg');
  background-size: 100% 200px;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: calc(200px + 0.1em);
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
  border-radius: 10px;
  margin: calc(var(--spacer) * 2);
}

article > * {
  margin: var(--spacer);
}

.article-footer {
  position: relative;
  margin-top: calc(var(--spacer) * 3);
  padding-bottom: var(--spacer);
  display: flex;
  justify-content: space-between;
}

.details-wrapper {
  display: flex;
}

.article-details {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
}

time {
  color: var(--clr-gray-blue);
}

button {
  border-radius: 50%;
  border: 0;
  height: 32px;
  width: 32px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: var(--spacer);
}

.share {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-dark-gray-blue);
  height: 64px;
  width: 112%;
  margin-left: calc(var(--spacer) * -1);
  margin-right: calc(var(--spacer) * -1);
  padding: var(--spacer);
  text-transform: uppercase;
  border-radius: 0 0 10px 10px;
  letter-spacing: 5px;
}

.share > *:not(:last-child) {
  margin-right: var(--spacer);
}

.share:first-child {
  margin-left: 1rem;
  padding-left: 1rem;
}

.share img {
  width: 20px;
  height: 20px;
}

.share-menu-button {
  height: 32px;
  width: 32px;
  background-color: hsl(214, 17%, 51%);
}

.share:target {
  display: flex;
}

.social-icons {
  display: flex;
  gap: var(--spacer);
}

.attribution {
  position: fixed;
  display: block;
  padding: var(--spacer);
  font-size: 11px;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
